body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    background: white;
    border-bottom: 1px solid #ededed;
}

main {
    display: flex;
}

nav {
    width: 100px;
    border-right: 1px solid #ededed;
    height: calc(100vh - 22px);
}

nav a {
    display: block;
    text-align: left;
    padding: 3px 10px;
    color: gray;
    text-decoration: none;
}

nav a.active {
    color: red;
}

.content {
    padding: 20px;
}

button {
    height: 20px;
    background-color: dodgerblue;
    border: none;
    font-size: 12px;
    margin: 0 20px;
    color: white;
    cursor: pointer;
}